
  header {
    margin: 0;

  }

  .mainartimg {
    position: relative;
    z-index: 5;
    margin-top: -10vw;
    margin-bottom: 10vw;
  }

  .art1 {
    width: 100%;
  }

  .overlay1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00000049;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .arrow1 {
    position: absolute;
    width: 3.571vw;
    height: 2.857vw;
    left: 2.643vw;
    top: 32.3vw;

  }

  .arrow2 {
    position: absolute;
    width: 3.571vw;
    height: 2.857vw;
    left: 93vw;
    top: 32.3vw;
    transform: rotate(-180deg);

  }


  .titlea {
    font-weight: 800;
    position: absolute;
    font-family: 'Montserrat';
    font-size: 4.571vw;
    color: var(--colortxtw);
    position: absolute;
    width: 24.357vw;
    height: 5.571vw;
    left: 19.286vw;
    top: 30.429vw;
  }


  .heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3.429vw;
    line-height: 4.214vw;
    margin-bottom: 5vw;
  }

  .textc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.714vw;
    line-height: 2.571vw;
    width: 45.071vw;
    height: auto;
  }

  .iconrow {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
  }

  .flex1 {
    display: flex;
    justify-content: space-between;
  }

  .icon {
    width: 3.571vw;
    height: 3.571vw;
  }

  .icon2 {
    width: 2.857vw;
    height: 2.857vw;
    margin-left: 0.3vw;
  }

  .iconholder {
    width: 3.571vw;
    height: 3.571vw;
  }

  .texticon {
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
  }

  .titleicon {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.714vw;
    line-height: 2.571vw;
    color: var(--colortxt);

  }

  .descricon {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.714vw;
    line-height: 2.571vw;
    color: var(--color0);
  }

  .iconsd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5vw;
  }

  .image_row {
    display: flex;
    justify-content: space-between;
  }

  .img_1_cont {
    width: 41.214vw;
    height: 54.5vw;
  }


  .textc2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.714vw;
    line-height: 2.571vw;
    width: auto;
  }

  .allcontent {
    display: flex;
    flex-direction: column;
    margin-left: 5.5vw;
    margin-right: 5.5vw;
    gap: 5vw;
    margin-bottom: 10vw;
  }

  .imagebig {
    width: 100%;
  }

  .textc3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.714vw;
    line-height: 2.571vw;
    width: 41.071vw;
  }

  .roww3 {
    display: flex;
    justify-content: space-between;
  }
  .roww4 {
    display: flex;
    justify-content: space-between;
  }



@media (max-width:768px) {
  header {
    margin: 0;

  }
  .mainartimg {
    margin-top: -20vw;
    position: relative;
  }
  .art1 {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 15% 45%;
  }
  .overlay1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00000049;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .arrow1 {
    position: absolute;
    width: 8vw;
    height: 6.667vw;
    left: 5.600vw;
    top: 46.933vw;

  }

  .arrow2 {
    position: absolute;
    width: 8vw;
    height: 6.667vw;
    left: 87.333vw;
    top: 46.933vw;
    transform: rotate(-180deg);

  }


  .titlea {
    font-weight: 800;
    position: absolute;
    font-family: 'Montserrat';
    font-size: 9.600vw;
    color: var(--colortxtw);
    position: absolute;
    width: 51.200vw;
    height: 5.571vw;
    left: 9.286vw;
    top:62.429vw;
  }
  .allcontent {
    margin-left: 8.267vw;
    margin-right: 8.267vw;
    gap:10vw;
  }

  .flex1 {
    flex-direction: column;
  }

  .image_row {
    flex-direction: column;
    gap:7vw;
  }
  .img_1_cont {
    width: 100%;
    height: 100%;
  }

  .heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 9.600vw;
    line-height: 11.733vw;
    margin-bottom: 10vw;
  }

  .textc,
  .textc2,
  .textc3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 3.733vw;
    line-height: 148%;
    width: 73.067vw;
    height: auto;
    margin-bottom: 10vw;
  }

  .textc2,
  .textc3 {
    height:auto;
  }

  .icon {
    width: 8vw;
    height:8vw;
  }

  .icon2 {
    width: 6.400vw;
    height: 6.400vw;
    margin-left: 0.5vw;
  }

  .iconholder {
    width: 8vw;
    height: 8vw;
  }

  .texticon {
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
  }

  .titleicon {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 4.267vw;
    line-height: 5.333vw;
    color: var(--colortxt);

  }

  .descricon {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 4.267vw;
    line-height: 5.333vw;
    color: var(--color0);
  }
  .roww3 {
    flex-direction: column;
  }
  .roww4 {
    flex-direction: column-reverse;
  }
  .iconrow {
    margin-bottom: 3vw;
  }

}