:root {
  --bg-color: #DFDFDF!important;
  --header-color: #D8D8D8 ;
  --colortxt: #000000;
  --color0: #4E4E4E;
  --shadowmobile: 0px 1.067vw 3.200vw rgba(0, 0, 0, 0.19);
  --shadowmain: 0px 0.714vw 2.286vw rgba(0, 0, 0, 0.22);
  --imgcollection:42.156vw;
  --colortxtw:white;
}



body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  color: var(--colortxt);
  height: auto;
}

.all {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#main {
  position: relative;
  width: 51vw;
  box-shadow: var(--shadowmain);
}
.main_img {

  position: relative;
  width: 51vw;
  box-shadow: var(--shadowmain);
}


.block_image {
  position: relative;
  
}

.content {
  margin-left: 5.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 9.28vw;
  margin-right: 5.5vw;
}

.block_t {
  width: 30vw;
  margin-right: 3.57vw;
}

.block_t_heading {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 3.43vw;
  line-height: 4.214vw;
  width: 37.071vw;
}

.block_t_p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 2.571vw;
}
.block_t_b {
  color: var(--colortxt);
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.55vw;
  line-height: 1.57vw;
  cursor: pointer;
  margin-top: 3.571vw;
}


.bold {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.428vw;
}

.imggrid {
  width: var(--imgcollection);
}

.grid {
  display: grid;
  grid-gap: 5vw;
  margin-top: 5.929vw;
  margin-left: 5.5vw;
  margin-right: 5.5vw;
  margin-bottom: 5.929vw;
  grid-template-columns: 1fr 1fr;
}

.imagegrid {
  position: relative;
  
}

.itemgrid {
box-shadow: var(--shadowmain);
} 

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00000069;
}

.imagegrid:hover .overlay {
  opacity: 1;
}

.overtext {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 3.43vw;
  line-height: 4.214vw;
  color: white;
  position: absolute;
  bottom: 0.5vw;
  left: 3.5vw;
  -webkit-transform: translate(-1.5vw, -2.5vw);
  -ms-transform: translate(-1.5vw, -2.5vw);
  transform: translate(-1.5vw, -2.5vw);
} 

#smallbox {
  cursor: pointer;
}

@media (max-width:768px) {
  body {
    margin: 0;
    height: auto;
  }
  .content {
    margin: 40px 21px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    
    align-items:flex-start;
    justify-content: flex-start;
  }
  .main_img {
    z-index: 1;
    position: relative;
    width: 100%;
    box-shadow: var(--shadowmobile);
  }
  #main {
    position: relative;
    width: 100%;
    box-shadow: var(--shadowmobile);
  }
  
  .block_image {
    margin-top: 40px;
    position: relative;

  }
  .block_t {
    display: flex;
    gap:5vw;
    flex-direction: column;
    width: 100%;
  }
  
  .block_t_heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 8.533vw;
    line-height: 10vw;
    width: 87.733vw;
  }
  
  .block_t_p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 148.4%;
    width: 85.600vw;
  }
  .block_t_b {
    font-family: 'Montserrat';
    font-style: 700;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
  }
  .bold {
    font-weight: bold;
    font-size: 14px;
  }
  .imggrid {
    width: 100%;
  }
  
  .grid {
    margin-top: 15vw;
    display: grid;
    grid-gap: 15vw;
    grid-template-columns: 100%;
  }
  .imagegrid {
    box-shadow: var(--shadowmobile);
  }
  .imagegrid {
    position: relative;
    
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color: #00000049;
  }

  .overtext {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 8.533vw;
    line-height: 4.214vw;
    color: white;
    position: absolute;
    bottom: 7vw;
    left: 5vw;
  } 
}